/*Common Shared Styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border: 0;
    border-radius: 5px;
    padding: 18px 35px 19px 36px;
    background: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.section_title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section_descrip {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* Nav related styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    align-items: center;
    display: flex;
}

nav li {

    margin-right: 51px;
    list-style: none;
}

nav a {

    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;

}

/* header related styles */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 0px;

}

.banner {
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}

.btn-contact {
    background-color: #FFF8F3;
    font-size: 20px;
    padding: 20px;
    font-weight: 700;
    color: #FD6E0A;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

.profile-pic {
    width: 550px;
    height: 600px;

}

.banner-content {
    max-width: 500px;
}

.banner .banner-content .banner-greeting {
    color: #474747;
    font-size: 45px;
    margin-bottom: 0px;

}

.banner .banner-content .banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-descrip {
    margin-top: 0px;
}

/*main related CSS styles*/
main {
    max-width: 1140px;
    margin: 0px auto;
}

main .new_sec{
/* background-color: chartreuse; */
margin-top: 130px;
margin-bottom: 0px;
}

/* ABout me section styles*/

.about {

    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin-top: 130px;
}

.about-info-container {
    display: flex;
    justify-content: space-evenly;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
    /* 150% */
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 0px;
}

/* what_I_d0 section styles */
#what-i-do-descrip {
    /* background-color:darkcyan; */
    padding: 0px 116px 50px 115px;
}

.skills-container {
    display: flex;
    justify-content: space-evenly;
    /* gap: 24px; Jhankar vai's method to create space between skills */
}

.skill {

    margin-right: 24px; /*to create gap between each skill*/
    padding: 30px 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    color: #181818;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.skill-info {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}
/* resume section related styles are written on-wards */
.resume-container{
    display:flex;
    gap: 70px;
}
.resume-container hr{
    margin: 30px 0px;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:30px;
   
}
.resume-content-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-content-org{
    color:  #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}
.resume-content-descrip{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}
.download-cv{
    text-align: center;
    margin-top:30px;
}
/* footer related style starts here */
footer{
    display:flex;
    padding: 130px 230px;
    background-color: #FFF8F3;
    margin-top: 113px;
}